@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}

@keyframes scaleUp {
  from {
    transform: scale(0.3);
  }

  to {
    transform: scale(1);
  }
}

@keyframes scaleDown {
  from {
    transform: scale(1);
  }

  to {
    transform: scale(0.3);
  }
}

.animation-faded--in {
  animation: fadeIn linear 0.2s;
}
.animation-faded--out {
  animation: fadeOut linear 0.2s;
}

.animation-scale--up {
  animation: scaleUp linear 0.2s;
}

.animation-scale--down {
  animation: scaleDown linear 0.2s;
}
